In [1]:
from datetime import datetime, timedelta
from pyfinlab import data_api as api

## Price data from yfinance

'yfinance' is the default api_source as it is free to use for anyone.

In [2]:
# tickers formatted for yfinance api
tickers = ['SPY', 'AGG', 'GLD', 'TAIL', 'GBTC']

In [3]:
# dates formatted for yfinance api
start_date = '2021-07-01'
end_date = (datetime.today() - timedelta(days=0)).strftime('%Y-%m-%d')

In [4]:
api.price_history(tickers, start_date, end_date, api_source='yfinance')

[*********************100%***********************]  5 of 5 completed

                   AGG       GBTC         GLD         SPY       TAIL
Date
2021-07-01  115.110001  28.469999  166.199997  430.429993  18.670000
2021-07-02  115.360001  28.580000  167.289993  433.720001  18.690001
2021-07-06  115.730003  28.719999  168.119995  432.929993  18.790001

## Price data from bloomberg

You must have a Bloomberg Professional Service subscription to use 'bloomberg' as api_source. Use 'yfinance' if you do not have a subscription as it is free to use.

In [5]:
# tickers formatted for Bloomberg api
tickers = ['SPY US Equity', 'AGG US Equity', 'GLD US Equity', 'TAIL US Equity', 'GBTC US Equity']

In [6]:
# dates formatted for bloomberg api
start_date = '07/01/2021'
end_date = (datetime.today() - timedelta(days=0)).strftime('%m/%d/%Y')

In [7]:
api.price_history(tickers, start_date, end_date, api_source='bloomberg')

,SPY US Equity,AGG US Equity,GLD US Equity,TAIL US Equity,GBTC US Equity
date,,,,,
2021-07-01,430.43,115.11,166.20,18.67,28.47
2021-07-02,433.72,115.36,167.29,18.69,28.58
2021-07-06,432.93,115.73,168.12,18.79,28.72
2021-07-07,434.46,115.93,168.76,18.86,28.75